table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-width: 750px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #ffffff00;
}

td {
    width: 12.5%;
    padding-bottom: 12.5%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

body {
    font-family: 'consolas', monospace;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.fen-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.pgn-section {
    margin-top: 20px;
    display: flex;
}

textarea {
    margin-left: 10px;
    width: 708px;
    padding: 10px;
    font-size: 18px;
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 8px;
    min-height: 80px;
}

input {
    margin-left: 10px;
    width: 708px;
    padding: 10px;
    font-size: 18px;
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 8px;
}

.end-section {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    top: 200px;
    left: 50px;
    right: 50px;
    width: calc(100% - 180px);
    max-width: 600px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.end-section button {
    font-family: 'consolas', monospace;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}

.end-section label {
    font-family: 'consolas', monospace;
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.end-section button:hover {
    background-color: green;
}

.white {
    background-color: bisque;
}

.black {
    background-color: green;
}

.selected {
    background-color: gray;
}

.check {
    background-color: tomato;
}

.available {
    position: relative;
}

.available::after {
    content: '';
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 1;
}

.capture {
    position: relative;
    border-radius: 25px;
}

.piece {
    width: 100%;
    height: 100%;
    background-image: url('sprite.png');
    background-size: 600%;
    position: absolute;
    top: 0;
    left: 0;
}

.white_king {
    background-position: 0% 0%;
}

.white_queen {
    background-position: 20% 0%;
}

.white_bishop {
    background-position: 40% 0%;
}

.white_knight {
    background-position: 60% 0%;
}

.white_rook {
    background-position: 80% 0%;
}

.white_pawn {
    background-position: 100% 0%;
}

.black_king {
    background-position: 0% 100%;
}

.black_queen {
    background-position: 20% 100%;
}

.black_bishop {
    background-position: 40% 100%;
}

.black_knight {
    background-position: 60% 100%;
}

.black_rook {
    background-position: 80% 100%;
}

.black_pawn {
    background-position: 100% 100%;
}